<div class="login form">
  <div class="message">
  </div>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputUsername">Username</label>
      <div class="controls">
        <input type="text" class="input username" id="inputUsername" placeholder="Username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" class="input password" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn login">Login</button>
      </div>
    </div>
  </form>
</div>